<main>
  <% @articles.each do |article| %>
  
  <a href="<%= article_path(article) %>">
    <article>
    <header style="background:linear-gradient(to top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 4em), url('<%= article.illustration.url(:mini) %>') center / cover">
      <h1><%= article.title %></h1>
    </header>
    <div>
      <p><%= article.description %></p>
    </div>
    </article>
    <% end %>
  </a>
</main>

<%= mainFab new_article_path, "fa-file-text" %>