<% content_for :pageTitle do %>
  <%= @article.title %>
<% end %>

<article>
  <header>
    <%= image_tag @article.illustration.url(:maxi), alt: @article.title %>
    <h1><%= @article.title %></h1>
  </header>
  <pre>
    <%= @article.description %>
  </pre>
</article>

<%= render partial: "/common/secondary_fab", locals: {fabUrl: edit_article_path(@article), fabFontawesomeIconName: "fa-pencil"} %>