<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<br> 

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<%= link_to "retour", articles_path %>
<%= link_to "modifier", edit_article_path(@article) %>
<%= link_to "détruire", @article, method: :delete %>