<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:pageTitle) ? yield(:pageTitle) : "dicogolo" %>
  </title>
  <script src="https://use.fontawesome.com/c6696e46e7.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">

<%= render "/layouts/header" %>

<%= yield %>

</body>
</html>
